.chat-main
  .chat-main__group-info
    %ul
      %li.group-info__group-name
        = @group.name
      %li.group-info__member-name
        Member : name
        - @group.group_users.each do |group_user|
          = group_user.user.name
    %p
      = link_to edit_group_path(@group) do
        Edit

  .chat-main__message-list
    .messages
      = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .form-box
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-button'


